{% extends 'template_of_page.html' %}
{% block title %}Анархизм{% endblock %}
{% block ideology_title %}Анархизм{% endblock %}
{% block ideology_img %}<img src="{{ url_for('static', filename='image/Anarchy.png') }}" width="250px" height="150px"/>{% endblock %}
{% block ideology_description %}
— политическая философия, которая рассматривает правящие классы, государство и власть в целом как нежелательные, ненужные и вредные элементы общества. Сторонники анархизма отстаивают принцип безгосударственного общества, основанного на неиерархических и добровольных ассоциациях.
{% endblock %}
{% block subtype %}
Подтипы:

<br>Анархизм без прилагательных - подчёркивает гармонию среди различных анархистских фракций и пытается объединить их вокруг их общих антиавторитарных основ.
<br>Агоризм - Конечной целью агоризма является достижение общества свободного рынка, в котором все отношения между людьми строятся на добровольном обмене.
<br>Анархо-капитализм - политическая философия, выступающая за ликвидацию государства и принудительных социальных институтов в пользу добровольных и свободнорыночных отношений.
<br>Анархо-коллективизм
<br>Анархо-коммунизм
<br>Анархо-монархизм
<br>Анархо-пацифизм
<br>Анархо-примитивизм
<br>Анархо-синдикализм
<br>Анархо-трансгуманизм
<br>Анархо-фашизм
<br>Анархо-феминизм
<br>Зелёный анархизм
<br>Инфоанархизм
<br>Квир-анархизм
<br>Мютюэлизм
<br>Национал-анархизм
<br>Платформизм
<br>Повстанческий анархизм
<br>Постанархизм
<br>Христианский анархизм
<br>Эгоизм
<br>Иллегализм
{% endblock %}