{% extends 'template_of_page.html' %}

{% block title %}Коммунизм{% endblock %}

{% block ideology_title %}Коммунизм{% endblock %}

{% block ideology_img %}<img src="{{ url_for('static', filename='image/USSR.png') }}" width="250px" height="150px"/>{% endblock %}

{% block ideology_description %}
 — теоретический общественный и экономический строй, основанный на общественной собственности на средства производства, чем обеспечивается социальное равенство. Также «коммунизмом» часто называют ультралевую политическую идеологию, которая провозглашает своей целью построение коммунистического общества. <br>На практике такого строя никогда не существовало, однако термин «коммунистическое государство» применялся западной прессой к СССР и странам, объявившим себя или считавшимися социалистическими.
{% endblock %}