<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main_styles.css')}}">
        <title>Политические Идеологии</title>
    </head>
    <body>
        <h1 class="centered">Политические Идеологии</h1>
        <p class="centered" style="font-size: 25px;">Политическое движение — это коллективная попытка группы людей изменить политику правительства или социальные ценности. Политические движения обычно противостоят какому-то элементу статус-кво и часто связаны с определенной идеологией.</p>
        <nav class="centered" style="font-size: 30px;">
            <a href=" {{ url_for('display_spisok') }}">Список</a>
        </nav>
    </body>
</html>