{% extends 'template_of_page.html' %}
{% block title %}Либерализм{% endblock %}
{% block ideology_title %}Либерализм{% endblock %}
{% block ideology_img %}<img src="{{ url_for('static', filename='image/Liberalism.png') }}" width="150px" height="150px"/>{% endblock %}
{% block ideology_description %}
 — философское и общественно-политическое течение, провозглашающее непоколебимость прав и свобод человека. Либерализм провозглашает права и свободу каждого человека высшей ценностью и устанавливает их основой общественного и экономического порядка. Либерализм — стремление к свободе человека от стеснений, налагаемых религией, традицией, государством и т. д., и к общественным реформам, имеющим целью свободу личности и общества. При этом возможности государства и церкви влиять на жизнь общества ограничиваются конституцией. Важнейшими составляющими в современном либерализме признаются свобода слова (свобода публичного высказывания), свобода совести (отделение религии от государства, светское государство и общество), право на легальное участие в политической борьбе.
{% endblock %}
{% block poprikolu %}Хуйня он ебаная, если честно{% endblock %}