{% extends 'template_of_page.html' %}

{% block title %}Нацизм{% endblock %}

{% block ideology_title %}Нацизм(сокращённо от национа́л-социали́зм){% endblock %}

{% block ideology_description %}
— немецкая тоталитарная, экстремистская, ультраправая, расистская и антисемитская идеология и движение в 1919—1945 годах; форма фашизма; крайняя форма политического этнического национализма в рамках фёлькише. Идеология Национал-социалистической немецкой рабочей партии (НСДАП), существовавшей с 1920 по 1945 годы и возглавлявшей движение. Официальная политическая идеология нацистской Германии, основа нацистского режима в Германии (1933—1945).<br>Нацистские движения после Второй мировой войны вместе называются неонацизмом и представляют собой действующие в различных странах мира экстремистские, националистические организации, близкие по своим программным установкам к немецкому национал-социализму либо считающие себя последователями НСДАП.
{% endblock %}